<div class="page-header">
  <h1>Properties</h1>

  <ul class="actions">
    <%= link_to " New Property", new_property_path, class: "new" %>
  </ul>
</div>

<div id="properties">
  <% @properties.each do |property| %>
    <h2><%= link_to property.name, property %></h2>
    <p><%= property.description %></p>
  <% end %>
</div>
